@import "scss/utils";
@import "scss/colors";
@import "scss/animations";
@import "scss/hero";

* {
  margin: 0;
  max-width: 100%;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Anton", ui-serif;
}

section {
  height: 100vh;
}
