@import "colors";

.catchphrase-wrapper {
  height: 50vh;
  width: 100%;
  padding-top: 50vh;

  .catchphrase {
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    max-width: 100vw;
    padding-right: 2rem;
    overflow: visible;

    h2 {
      line-height: 1.1em;
      text-align: end;
      font-size: min(16vw, 30vh); 
      color: $black;

      &:hover{
        cursor: pointer;
        text-underline-offset: 0.1em;

        &::before{
          content: '.';
          color: $accent;
        }
      }
    }
  }

}
