@import "colors";

.catchphrase-wrapper {
  height: 50vh;
  width: 100%;
  padding-top: 50vh;

  .catchphrase {
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 90vh;
    width: 100%;
    margin-top: 5vh;
    padding-bottom: 5vh;
    padding-right: 2rem;
    max-width: 100vw;
    overflow: visible;
    
    a, a:hover, a:active, a:visited{
      color: $black;
      text-decoration: none;
    }

    h2 {
      line-height: 1.1em;
      width: auto;
      display: inline;
      text-align: end;
      font-size: min(16vw, 30vh); 
      color: $black;

      &:hover{
        cursor: pointer;
        text-underline-offset: 0.1em;

        &::before{
          content: '.';
          color: $accent;
        }
      }
    }
  }

}
