@import "colors";

$animation-duration: 500ms;
$animation-duration-parallax: 850ms;

.hero-wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 10;
  pointer-events: none;
  
  &.animate * {
    transition-duration: $animation-duration;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: end;
  overflow: visible;
  width: 100%;
  height: 100vh;
  background-color: $black;

  h1 {
    text-align: end;
    display: block;
    color: white;
    font-size: 20vw;
    white-space: nowrap;
    line-height: 1.1em;
    overflow: clip;

    & > span {
      overflow: visible;
      width: 100%;
    }

    & > .firstname {
      color: $accent;
      padding-right: 0.25em;

      &:before {
        transition-duration: $animation-duration;
        content: "Matthias";
        color: white;
      }
    }

    & > .lastname {
      color: white;

      &:before {
        transition-duration: $animation-duration;
        content: "Bruns";
        color: $accent;
      }

      &:after {
        content: ".";
        color: $accent;
      }
    }
  }

  &.active {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 250px;
    height: 250px;

    h1 {
      position: relative;
      font-size: 2em;
      text-align: end;
      right: 1rem;
      bottom: 1rem;

      & > .firstname {
        color: $accent;

        &:before {
          opacity: 0;
        }
      }

      & > .lastname {

        &:before {
          opacity: 0;
        }
      }
    }
  }

}
